/* Base */
body {
  line-height: 1.7;
  color: #4d4d4d;
  font-weight: 400;
  font-size: 1rem;
  font-family: "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

::-moz-selection {
  background: #000;
  color: #fff; }

::selection {
  background: #000;
  color: #fff; }

.line-height-sm {
  line-height: 1.4 !important; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a:hover {
    text-decoration: none; }

.text-black {
  color: #000 !important; }

.bg-black {
  background: #000 !important; }

.line-height-sm {
  line-height: 1.3; }

.line-height-xs {
  line-height: 1; }

.site-wrap:before {
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden; }


.bg-black {
  background: #000; }

.form-control {
  height: 47px; }
  .form-control:active, .form-control:focus {
    border-color: #26baee; }
  .form-control:hover, .form-control:active, .form-control:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }

.site-section {
  padding: 3em 0; }
  @media (min-width: 768px) {
    #result_section .date{
      font-size: 1.6rem;
    }
    .site-section {
      padding: 7em 0; } }
  .site-section.site-section-sm {
    padding: 4em 0; }

.site-section-heading {
  font-size: 30px;
  color: #25262a;
  position: relative; }

.site-footer {
  padding: 1em 0;
  background: #393e46;
  color: rgba(255, 255, 255, 0.4); }
  .site-footer a {
    color: rgba(255, 255, 255, 0.7); }
    .site-footer a:hover {
      color: #fff; }
  .site-footer .footer-heading {
    font-size: 18px;
    color: #fff; }
  .site-footer ul li {
    margin-bottom: 10px; }

.bg-text-line {
  display: inline;
  background: #000;
  -webkit-box-shadow: 20px 0 0 #000, -20px 0 0 #000;
  box-shadow: 20px 0 0 #000, -20px 0 0 #000; }

.bg-image {
  background-size: cover;
  background-repeat: no-rpeeat;
  overflow: hidden;
  background-position: center center; }
  .bg-image.center {
    background-position: top center; }
  .bg-image.fixed {
    background-position: fixed !important; }
  .bg-image.overlay, .bg-image.overlay-primary, .bg-image.overlay-info, .bg-image.overlay-success, .bg-image.overlay-warning {
    position: relative; }
    .bg-image.overlay:before, .bg-image.overlay-primary:before, .bg-image.overlay-info:before, .bg-image.overlay-success:before, .bg-image.overlay-warning:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0; }
  .bg-image.overlay:before {
    background: rgba(0, 0, 0, 0.4); }
  .bg-image.overlay-primary:before {
    background: rgba(38, 186, 238, 0.9); }
  .bg-image.overlay-info:before {
    background: rgba(83, 205, 226, 0.9); }
  .bg-image.overlay-success:before {
    background: rgba(124, 189, 30, 0.9); }
  .bg-image.overlay-success:before {
    background: rgba(238, 198, 10, 0.9); }

@media (max-width: 767.98px) {
  .weather-info{
    border: none !important;
  }
  .display-3, .display-2, .display-4 {
    font-size: 2rem !important; } }

@media (max-width: 991.98px) {
  .bg-md-height {
    height: 300px; } }

@media (max-width: 767.98px) {
  .bg-sm-height {
    height: 300px; } }

.text-gray-500 {
  color: #adb5bd !important; }

/* Blocks */
.site-blocks-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top; }
  .site-blocks-cover.overlay {
    position: relative; }
    .site-blocks-cover.overlay:before {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.4); }
  .site-blocks-cover, .site-blocks-cover .row-custom {
    min-height: 600px;
    height: calc(100vh); }
  .site-blocks-cover.inner-page, .site-blocks-cover.inner-page .row-custom {
    min-height: 600px;
    height: calc(80vh); }
  .site-blocks-cover .sub-text {
    font-size: 1.1rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: .2em; }
  .site-blocks-cover h1 {
    font-weight: 900;
    color: #fff;
    font-size: 3rem; }
    .site-blocks-cover h1 strong {
      font-weight: 900; }
    @media (min-width: 768px) {
      .site-blocks-cover h1 {
        font-size: 5rem;
        font-weight: 300;
        line-height: 1.2; } }
  .site-blocks-cover p {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.5; }
  .site-blocks-cover .intro-text {
    font-size: 16px;
    line-height: 1.5; }

.select-wrap, .input-with-icon {
  position: relative; }
  .select-wrap select, .input-with-icon select {
    padding-right: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .select-wrap .arrow-down, .select-wrap .icon, .input-with-icon .arrow-down, .input-with-icon .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    font-size: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.job-search .btn {
  height: 47px; }

.job-search > ul {
  position: relative;
  z-index: 1;
  top: 20px; }
  .job-search > ul a {
    text-transform: uppercase;
    color: #000;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: .1em; }
